html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffe79d;
    font-family: "メイリオ", Meiryo, "klee", "Hiragino Kaku Gothic ProN",
        "ヒラギノ角ゴ ProN W3", sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}
